.main-container {
    display: flex;
    position: static;

    .session-form {
        margin-top: 125px;
    }
}
.main {

    // Position 
    position: relative;
    top: 0%;
    left: (-10%);
    // Display properties 
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    // align-items: center;
    // background-color: #D8C3A5;
    // Height - width
    // border: 1px solid red;how
    background-image: url("../../Assets/vintage_style.webp") ;
    opacity: 0.5;
    clip-path: circle(92.8% at 0 100%);
    width: 60vw;
    height: 89vh;
    position: relative;
    .main-image {
        
    }
    .main-text {
        position: absolute;
        opacity: 1;
        top: 40%;
        left: 30%;
        // border: 1px solid red;
        color:black;
        // margin-left: 250px;
    }

    // margin-top: 20px;
   
}
