

form > .errors {
    color: red;
    font-size: 0.875em;
    height: 15px;
    display: flex;
    align-items: center;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAE7DC;
    width: 100%
}

body { 
    display: flex;
    justify-content: center;
    background-color: #EAE7DC;
    
}

